.grid {
    
    border: 1px solid #727272;
    width: 90vw;
    height: 90vw;
    cursor: pointer;
}
.addButton{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 3.25rem;
    cursor: pointer;
    color: #729C5E;
    border: #729C5E 3px solid;
    padding: 5px;
    background-color: white;
    border-radius: 100%;
    
}
.gridContainer {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 5vw;
    position: relative;

}

.square {
    box-sizing: border-box;
    border: 1px solid #72727255;
    width: 11.25vw;
    height: 11.25vw;
    float: left;
    /* border: 3px dashed transparent; */
}

.toolContainer {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    padding-right: 1rem;
}

.tool {
    

    display: flex;
    flex-direction: column;
    font-size: 24px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    flex-grow: 1;
    padding: 1rem;
    border: 1px solid #727272;
    border-top: 0px;
    border-bottom: 0px;
    width: 1rem;

} 

.toolIcon {
    font-size: 2.5rem;
    color: #729C5E;
    padding-bottom: .75rem;
}

.toolSelected {
    background-color: #90BF7A;
}

.toolSelected svg {
    color: black;

}

.selectTop {
    border-top: 3px dashed aqua;
    
}

.selectBottom{
    border-bottom: 3px dashed aqua;
    
}

.selectLeft {
    border-left: 3px dashed aqua;
    
}

.selectRight {
    border-right: 3px dashed aqua;
    
}

.deselectBtn{
    position: absolute;
    color: red;
    font-size: 1.75rem;
    cursor: pointer;
    z-index: 9999;
}

.deselectBtn:hover {
    color: #BB0000;
}

.deselectBtn svg {
    background-color: white;
    border-radius: 100%;
}

.paletteIcon{
    /* font-size: 2.5rem; */
    /* padding-bottom: .75rem; */
    
}

.gridIcon{
    display: flex;
    flex-direction: column;
    align-items: center;
  
  
    

}

.palettePlant {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    text-align: center;
    align-content: center;
    width: calc(3.5rem - 3px);
    height: 4rem;
    border: 3px solid transparent;


}

.activePlant {

    border: 3px solid #729C5E;
    border-radius: 10px;
    /* box-shadow: 0 0 0 3px #729C5E; */
}

.paletteList {
    padding: .5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.paletteInnerContainer{
    background-color: #FFFFFF;
    border-radius: 20px;
    margin: .75rem;
    flex-grow: 1;
    height: 10rem;

    overflow-y: scroll;
    
    

}

.nopalettewarning{
    color: #727272;
    text-align: center;
    padding-top: 3.5rem
}


.paletteOuterContainer{
    position: relative;

    background-color: #90BF7A;
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    flex-grow: 1;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 7.3375rem);
}

.switch {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 17px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 17px;

}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;

}

input:checked + .slider {
    background-color: black;
}

input:focus + .slider {
    box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}


.mapDirectionalButtonX {
    font-size: 1rem;
    position: absolute;
    z-index: 99;
    cursor: pointer;
    height: 90vw;
    background-color: #d3e8c8;
    display: flex;
    justify-content: center;

    flex-direction: column;   
    border-radius: 10px;
}

.mapDirectionalButtonY {
    font-size: 1rem;
    position: absolute;
    z-index: 99;
    cursor: pointer;
    width: 90vw;
    background-color: #d3e8c8;
    display: flex;
    justify-content: center;
    flex-direction: row;   
    border-radius: 10px;
    
}

.mapDirectionalButtonX:hover, .mapDirectionalButtonY:hover {
    background-color: #90bf7a;

}

.spacer{
    height: 7.5vh;
}