

.header{
    background-color: #90BF7A;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.header p {
    font-size: 24px;
    margin: 0;
    padding-bottom: 1rem;
}




.tutorialImage{
    width: 80vw;
    height: 80vw;
    padding: 5vw 10vw 5vw 10vw;
    background-color: white;
}

.tutorialCaption{
    text-align: center;
    font-size: 22px;
    padding: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0rem;

}

.currentDot {
    color: black;
    padding-left: .5rem;
    font-size: .75rem;
}

.inactiveDot {
    color: #727272;
    padding-left: .5rem;
    font-size: .75rem;

}

.hiddenBtn {
    visibility: hidden;
}

.dotContainer {

}
.footerContainer{
    /* background-color: #90BF7A; */
    /* width: 100%; */
    /* bottom: 0; */
}
.footerInnerContainer {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.directionalIcon {
    font-size: 1.75rem;
    cursor: pointer;
}

.tutorialBody {
    background-color: #90BF7A;
    /* height: calc(100vh ); */
    
}

.btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.endBtns {
    background-color: white;
    padding: .5rem;
    border-radius: 10px;
    border: 2px solid #729C5E;
    font-size: 24px;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.endBtns svg {
    color: #729C5E;
    padding-right: 1.5rem;
}